*.class
/data/
/jars/
/build/
/.gradle/
.pydevproject
/.settings/
/bin/com
/bin/rapidwright_classpath.sh
.idea
*.iml
/designs/
interchange/schema/capnp/java.capnp
*.orig
bin/testFixtures
.project
.classpath
log/
output/
ipynb/
genPackage/PRW/
genPackage/PRW.zip
stamp
batch.py
tmp/
genPackage/cufr

*.netlist
*.phys
*.dcp
*.log
*.tcl
*.wirelength
*.check
rosetta_fd.netlist.edn
.preserveBin/*
.lpr/*
*.pyc
RapidWright/data/*